*.parquet
*.csv
*.tsv
.env
*.env-local
*.env-prod
trained_model*
hf_dataset*
test*
datasetdict_tokenized_labelled.set*
*__pycache__*
*.nextflow*
*/nextflow/work*
*/node_modules/*
autoantibody_app/api/node_modules