withName: PREDICT_AUTOANTIBODY {
    // params.with_gpu ? '--run_mode gpu' : '--run_mode cpu'
    ext.args = [
        "--run_mode ${params.with_gpu ? 'gpu' : 'cpu'}"
    ]
    publishDir = [
        path: { "${params.outdir}" },
        mode: params.publish_dir_mode,
        pattern: "*.tsv",
        saveAs: { filename -> filename.replace("${group_id}.", "") }
    ]
}

withName: METRICS_ANALYSIS.nf {
    ext.args = [
        "--connection_string ${params.connection_string}"
    ]
}