process {
    withName: PREDICT_AUTOANTIBODY {
        ext.args = [
            params.with_gpu ? '--run_mode gpu' : '--run_mode cpu'
        ]
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            saveAs: { filename -> filename.replace("${group_id}.", "") }
        ]
    }
}
